body {
	margin: 0;
	padding: 0;
	font-family: 'MesloLGS NF Regular';
	font-size: 16px;
	color: rgb(59, 59, 59);
	height: 100vh;
	display: flex;
	flex-direction: column;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

input:focus,
button:focus {
	outline: none;
}

.container {
	width: 70%;
	margin: auto;
}

header {
	position: fixed;
	width: 100%;
	
	background: black;
	display: flex;
	flex-direction: row;
	z-index: 999;
    color: white;
}
main {
	margin-top: 50px !important;
	margin-bottom: 0;
}
nav {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.nav-link {
	align-items: center;
	justify-content: center;
	padding: 10px;
}
.nav-link > ul {
	display: flex;
	align-items: center;
}
.nav-item {
	margin-right: 15px;
}
.nav-item > a {
	display: inline-block;
	padding-bottom: 2px;
	position: relative;
	font-weight: bolder;
}




.nav-item > a:hover,.logo:hover {
	color:rgb(40, 172, 99);
	
}



.logo {
	align-content: flex-start;
	padding: 10px 10px 12px 10px;
	font-weight: 800;
	font-size: 1.5em;
	align-content: center;
}

.form-container {
	display: flex;
	flex-direction: column;
	margin: auto;
}

.form-input {
	margin: 10px 0px;
	border-bottom: 1px solid #ccc;
	border-top: none;
	border-left: none;
	border-right: none;
	padding: 10px 0px;
	font-size: 18px;
}


.btn {
	width: auto;
	margin: 15px 0px;;
	padding: 10px 25px;
	background: black;
	border-radius: 3px;
	border: none;
	color: #eee;
	cursor: pointer;
	font-weight: bold;
}
.btn:hover {
	background: rgb(37, 136, 82);;
	transition: ease 300ms;
}


main {
    position: relative;
	height: fit-content;
}

main h2 a ,form em a{
    color: rgb(47, 173, 104);
    animation: colors linear infinite;
    animation-duration: 3s;
    animation-delay: .5s;
	font-weight: bolder;
}

.con{
	background-color: rgb(238, 238, 238);
	border-radius: 5px;
	position: relative;
	margin:auto;
	margin-top: 0;
	display: flex;
	padding: 5px;
	justify-content: flex-start;
	width: fit-content;
	max-width: 980px;
	flex-wrap: wrap;
	display: none;
	
}



.card{
	width: 300px;
	padding: 10px;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}



.card-img img{
	width: 100%;
}

.card-body{
	text-align: center;
}

.card-body p{
	margin-bottom: 5px;
}

.ptitle{
	text-align: center;
	width: 100%;
}

.pdesc{
	text-align: justify;
}

.conbtns > .btn{
	cursor: pointer;
	border: 0;
	padding: 5px;
	border-radius: 5px;
	font-weight: 800;
	text-align: center;
	transition: all ease-in-out .25s;
}

.conbtns>.buy{
	background-color: rgb(20, 160, 92);
	color: #fdfdfd;
}

.conbtns > .addtc{
	background-color: rgb(226, 20, 60);
	color: #ffffff;
}

.conbtns > .btn:hover{
	color: #ccc;
	background-color: rgb(0, 0, 0);
}

.card-body .pprice{
	text-align: left;
}

.card-body .pprice span{
	font-weight: 700;
}

footer{
	position: relative;
	bottom: 0;
	height: 5vh;
	background-color: black;
	text-align: center;
}